<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Random</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

    </style>

</head>

<body>
    <div class="container">
    <h1>yo</h1>
    <%= grid %>

    <canvas id="myCanvas" width="128" height="128" style="border:1px solid #d3d3d3;">
      Your browser does not support the HTML5 canvas tag.
    </canvas>

    </div>

    <script>
      var grid = [<%= grid %>];
      var width = 128;
      var height = 128;
      console.log(grid);  
      var canvas = document.getElementById('myCanvas');
      var ctx = canvas.getContext('2d');
      canvas.width = width;
      canvas.height = height;
      var imgData = ctx.createImageData(width, height);
      imgData.data.set(grid);
      ctx.putImageData(imgData, 0, 0);

    </script>


</body>

</html>
